@keyframes scaleManipulation {
	0% {
		scale: 1;
	}

	25% {
		scale: 1.1;
	}

	50% {
		scale: 1;
	}

	75% {
		scale: 1.1;
	}

	100% {
		scale: 1;
	}
}

@keyframes pageTransitionAnimation {
	0% {
		top: 0;
	}

	100% {
		top: -120%;
	}
}
