@use 'colors' as *;
@use 'reset' as *;
@use 'mixins' as *;

// font-family: 'Young Serif', serif;
// font-family: 'Parisienne', cursive;
// font-family: 'Luckiest Guy', cursive;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section {
	margin-top: 2rem;
	font-size: 2rem;
	text-align: center;

	&__wave {
		position: absolute;
		width: 100%;

		&-top {
			top: 0;
		}

		&-bottom {
			bottom: 0;
		}
	}
}

.nav {
	position: fixed;
	width: 100%;
	height: 100%;

	.wrapper {
		position: relative;
	}

	&__btn {
		position: absolute;
		padding: 1rem 2rem;
		right: 0;
		top: 0;
		font-size: 5rem;
		color: $black;
		background: none;
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40%;
	width: 100%;

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__back {
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			z-index: -100;
		}
	}

	&__img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem;

		&-back {
			position: absolute;
			top: 55%;
			left: 46%;
			transform: translate(-50%, -50%);
			width: 80%;
			z-index: -100;
		}

		&-main {
			left: 50%;
			width: 80%;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -20%;
			height: 2px;
			width: 100%;
			background-color: $black;
		}
	}

	&__text {
		position: relative;
		padding: 2rem;

		h1 {
			font-size: 3.4rem;
		}

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 1.4rem;
		}

		&-desc {
			position: absolute;
			width: 30%;
			z-index: -100;

			&:nth-child(1) {
				top: 0;
				left: 0;
			}

			&:nth-child(2) {
				right: 0;
				bottom: 0;
			}
		}
	}
}

.marketing {
	position: relative;
	background-color: $backgroundSecond;

	.wrapper {
		@include expandWrapperS;
	}

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 4rem 2rem;
	}

	&__card {
		width: 100%;
		max-width: 300px;
		margin: 1rem 1rem 1rem;
		border-radius: 20px;
		box-shadow: 0px 0px 1rem $black;
		text-align: center;

		&-p {
			padding: 1.5rem 1rem 0.5rem;
			border-bottom: 1px solid $black;
		}

		&-h {
			border-top: 1px solid $black;
			padding: 0.5rem 1rem 1.5rem;
		}

		p {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 1.8rem;
		}
	}
}

.mark {
	margin: 4rem 0rem;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__quote {
		font-size: 1.2rem;
		text-align: center;
		color: $primary;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 2rem 2rem;
		font-size: 1.4rem;
	}

	&__benefits {
		order: 1;
		margin: 1rem 0rem 1rem;

		p {
			position: relative;
			font-weight: bold;

			&::before {
				content: '5';
				position: absolute;
				top: -300%;
				left: -10%;
				font-size: 12rem;
				color: $primary;
				z-index: -1;
				opacity: 0.3;
			}
		}

		li {
			list-style: none;

			&::before {
				content: '\f00c';
				margin-right: 1rem;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				color: #00db0f;
			}
		}
	}

	&__desc {
		margin: 1rem 0rem 1rem;
	}
}

.projects {
	position: relative;
	background-color: $backgroundSecond;
	margin: 4rem 0rem;

	.wrapper {
		@include expandWrapperS;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 2rem 0;
	}

	&__card {
		margin: 2rem 0;
		width: 90%;
		box-shadow: 0px 0px 12px 10px $background;

		img {
			width: 100%;
		}
	}
}

.contentCreator {
	position: relative;
	background-color: $background;

	&__desc {
		margin: 2rem;
		font-size: 1.4rem;

		a {
			color: $primary;
			transition: color 0.3s;

			&:hover {
				color: rgb(96, 72, 48);
			}
		}
	}

	&__imgs {
		margin: 2rem;

		img {
			width: 100%;
			border-radius: 18px;
			box-shadow: 0px 0px 14px $black;
		}
	}
}

.opinions {
	position: relative;
	background-color: $backgroundSecond;

	.wrapper {
		@include expandWrapperS;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 4rem 2rem 2rem;
	}

	&__opinion {
		position: relative;
		max-width: 300px;
		margin: 1rem;
		padding: 2rem;
		margin-bottom: 4rem;
		border-radius: 8px;
		font-size: 1.4rem;
		// box-shadow: 0px 0px 8px black;s
		background-color: $background;

		i {
			position: absolute;
			top: -1.5rem;
			left: 1rem;
			transform: skew(-15deg);
			font-size: 3.5rem;
		}

		p {
			font-style: italic;
		}
	}
}

.contact {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order: 1;
		margin: 2rem;

		p {
			font-size: 1.8rem;
			text-align: center;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			font-size: 1.4rem;

			input,
			textarea {
				width: 100%;
				margin: 1rem 0;
				padding: 0.8rem;
				border-radius: 8px;
				border: none;

				&::placeholder {
					font-style: italic;
				}
			}

			button {
				padding: 0.8rem;
				border-radius: 8px;
				background-color: $backgroundSecond;
				color: $black;
			}
		}
	}

	&__other {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-title {
			p {
				font-size: 1.8rem;
			}
		}

		&-media {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 2rem;
		}

		&-socials {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			font-size: 1.4rem;
		}

		&-social {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 1rem;

			div {
				margin: 0.2rem;
			}

			p {
				font-weight: bold;
			}

			a {
				color: $primary;

				&:hover {
					color: rgb(96, 72, 48);
				}
			}

			i {
				font-size: 3rem;
			}
		}

		&-instagram {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		&-img {
			display: none;
		}
	}
}

.footer {
	padding: 1rem;
	border-top: 1px solid $black;
	text-align: center;
}

@import 'small';
@import 'medium';
@import 'large';
